/* 去边框 */
*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/2.jpg);
}
/* 伪类选择器 */
/* 轮盘 */
div:nth-child(1){
	width: 768px;
	height: 768px;
	background: url(../img/fsw.png);
	/* 定位方法 绝对 相对 固定*/
	position: absolute;
	left: 50%;
	margin-left: -384px;
	animation: zhuan 10s linear infinite;
}
@keyframes zhuan{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}
div:nth-child(2){
	width: 247px;
	height: 490px;
	background: url(../img/bracketsmall.png);
	position: absolute;
	left: 50%;
	margin-left: -123px;
	top: 384px;
	/* 堆叠属性 */
	z-index: -1;
}
div:nth-child(3){
	width: 358px;
	height: 529px;
	background: url(../img/bracket.png);
	position: absolute;
	left: 50%;
	margin-left: -180px;
	top: 375px;
	/* 堆叠属性 */
}
div:nth-child(4){
	width: 577px;
	height: 257px;
	background: url(../img/big-title.png);
	position: absolute;
	left: 50%;
	margin-left: -288px;
	top: 210px;
}
div:nth-child(5){
	width: 413px;
	height: 139px;
	background: url(../img/title.png);
	position: absolute;
	left: 50%;
	margin-left: -206px;
	top: 388px;
}
div:nth-child(6){
	width: 48px;
	height: 64px;
	background: url(../img/arrow.png);
	position: absolute;
	left: 50%;
	margin-left: -24px;
	top: 480px;
}
li{
	width: 130px;
	height: 170px;
	position: absolute;
	/* 清除掉原有样式 */
	list-style: none;
	animation: dong 10s linear infinite;
	/* 旋转基点 */
	transform-origin: 50% 40%;
}
@keyframes dong{
	from{transform: rotate(0);}
	to{transform: rotate(-360deg);}
}
/* 八个小矮人 */
li:nth-child(1){
	background: url(../img/boy.png);
	left: 85px;
	top: 60px;
}

li:nth-child(2){
	background: url(../img/dog.png);
	left: 320px;
}
li:nth-child(3){
	background: url(../img/girl.png);
	left: 560px;
	top: 60px;
}
li:nth-child(4){
	background: url(../img/girls.png);
	left: 1px;
	top: 280px;
}
li:nth-child(5){
	background: url(../img/hairboy.png);
	left: 640px;
	top: 280px;
}
li:nth-child(6){
	background: url(../img/mimi.png);
	left: 85px;
	top: 520px;
}
li:nth-child(7){
	background: url(../img/mudog.png);
	left: 555px;
	top: 520px;
}
li:nth-child(8){
	background: url(../img/shamegirl.png);
	left: 320px;
	top: 610px;
}